* {
    padding: 3px;
    margin: 3px;
    border: 3px dotted grey;
    border-radius: 6px;
}

.parts {
    width: 945px;
    background: lightgoldenrodyellow;
}

#main_header {
    height: 84px;
    border: 3px dashed orange;
}

#main_main {
    height: 345px;
    border: 3px dashed blue;
}

#main_footer {
    height: 84px;
    border: 3px dashed violet;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}