* {
    /*    width: 945px;*/
    padding: 5px;
    margin: 10px;
    border: 3px dashed red;
    border-radius: 10px;

}

html {
    border: 5px solid green;
    background-color: goldenrod;
}

body {
    background-color: aquamarine;
}

div {
    width: 945px;
    background: lightgoldenrodyellow;
}

#main_header {
    height: 84px;
    border: 3px dashed orange;
}

#main_main {
    height: 345px;
    border: 3px dashed blue;
}

#nav_text {
    position: absolute;
    top: 180px;
    height: 120px;
    left: 60px;
    width: 165px;
}

#input_form {
    position: absolute;
    top: 170px;
    height: 180px;
    left: 280px;
    width: 660px;
}

a {
    position: absolute;
    top: 400px;
    box-shadow: 5px 5px 5px red;
    text-decoration: none;

}

button:active {
    box-shadow: inset 0 0 5px violet;
}

#registration {
    left: 700px;
}

#main_footer {
    height: 54px;
    border: 3px dashed violet;
}